<h1>Regsitranding</h1>
<form method="POST" action="/register">
  <div>
<label for='email'>Email:</label>
<input type="text" name='email' placeholder="Email..." id='email' />
  </div>
  <div>
<label for='password'>Password:</label>
<input type="text" name='password' placeholder="password..." id='password' />
  </div>
  <div>
<label for='name'>name:</label>
<input type="text" name='name' placeholder="name..." id='name' />
  </div>
  <div>
<label for='adress'>adress:</label>
<input type="text" name='adress' placeholder="adress..." id='adress' />
  </div>
  <div>
<label for='age'>age:</label>
<input type="number" name='age' placeholder="age..." id='age' />
  </div>
  <div>
<label for='phone'>phone:</label>
<input type="text" name='phone' placeholder="phone..." id='phone' />
  </div>
  <div>
<label for='avatar'>Email:</label>
<input type="text" name='avatar' placeholder="avatar..." id='avatar' />
  </div>
  <input type="submit" value="Register" />
</form>